.app-header{
  display: flex;
  width: 100%;
  background: $light-bg-color;
  border-bottom: 2px solid $border-color;
  .logo,
  .search-bar,
  .user-menu{
    padding: 16px;
  }
  .search-bar{
    margin-left: 15%;
    input{
      height: 36px;
      background: #fff;
      border: 1px solid $border-color;
      padding: 0 16px;
      border-radius: 4px;
      &:active,
      &:focus{
        border-color: $primary-color;
      }
    }
  }
  .user-menu{
    margin-left: auto;
  }
}

.network-status{
  display: block;
  position: fixed;
  width: 100%;
  text-align: center;
  max-width: 240px;
  background: #f9f1d8;
  border-radius: 4px;
  left: calc(50% - 120px);
  top: 16px;
  padding: 8px 16px;
}