.app-header{
  display: flex;
  width: 100%;
  background: #f5f5f5;
  .logo,
  .search-bar,
  .user-menu{
    padding: 16px;
  }
  .search-bar{
    margin-left: 15%; 
  }
  .user-menu{
    margin-left: auto;
  }
}