body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
  background: $light-bg-color;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
}

input,
button,
select,
textarea{
  font-size: 16px;
}